body{
  background: #e4ebf5;
  font-family: "Nunito Sans", sans-serif;
}
.event-container {
    font-family: "Nunito Sans", sans-serif;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .event-container h3.year {
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid #ffffff;
  }
  
  
  .event-container .event {
    box-shadow: 0 4px 16px -8px rgba(58, 160, 243, 0.877);
    display: flex;
    border-radius: 8px;
    margin: 32px 0;
    -webkit-box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
            box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
  }
  .event-container .event:hover{
    cursor: pointer;
    -webkit-box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
          box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
  }
  
  .event .event-left {
    background: rgb(6, 39, 70);
    min-width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    padding: 8px 48px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
    background: #1A99D5;
  }
  
  .event .event-left .date {
    font-size: 56px;
  }
  
  .event .event-left .month {
    font-size: 16px;
    font-weight: normal;
  }
 
  
  .event .event-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
    border-radius: 28px;
  }
  
  .event .event-right h3.event-title {
    font-size: 24px;
    margin: 24px 0 10px 0;
    color: #218bbb;
    text-transform: uppercase;
  }
  
  .event .event-right .event-timing {
    background: #aedde6;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 8px;
    border-radius: 16px;
    margin: 24px 0;
    font-size: 14px;
    -webkit-box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
            box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
  }
  .event .event-right .event-timing:hover{
    cursor: pointer;
    -webkit-box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
          box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
  }
  
  
  
  @media (max-width: 550px) {
    .event {
      flex-direction: column;
    }
  
    .event .event-left {
      padding: 0;
      border-radius: 8px 8px 0 0;
    }
  
    .event .event-left .event-date .date,
    .event .event-left .event-date .month {
      display: inline-block;
      font-size: 24px;
    }
  
    .event .event-left .event-date {
      padding: 10px 0;
    }
  }
  